{% extends "layout-hmrc.html" %}
{% extends "hmrc/layouts/account-header.html" %}

{% block pageTitle %}
Personal tax account - Home
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-xl">Your Name</h1>
      <p class="hmrc-caption govuk-caption-xl"><span class="govuk-visually-hidden">This section is </span>Account home</p>
    </header>

    <p>This pattern warns the user before we time them out of a service and tells them what has happened when we do time them out.</p>

    <div class="pta-card-container">
    <div class="pta-card">
      <h3 class="govuk-heading-s"><a href="#">Card heading</a></h3>
      <p class="govuk-body">This pattern warns the user before we time them out of a service and tells them what has happened when we do time them out.</p>
    </div>
    <div class="pta-card">
      <h3 class="govuk-heading-s">Card heading</h3>
      <p class="govuk-body">This pattern warns the user before we time them out of a service and tells them what has happened when we do time them out.</p>
    </div>
    <div class="pta-card">
      <h3 class="govuk-heading-s">Card heading</h3>
      <p class="govuk-body">This pattern warns the user before we time them out of a service and tells them what has happened when we do time them out.</p>
    </div>
  </div>

  </div>

</div>
{% endblock %}
